# https://github.com/asdf-community/asdf-plugin-manager/releases
asdf-plugin-manager 1.4.0

# https://github.com/clojure/brew-install/releases
clojure 1.12.0.1488

# https://adoptium.net/temurin/archive/?version=19
java temurin-19.0.2+7
